<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta charset="ISO-8859-1" /> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Index Monitora Web Log</title>

<link href="../css/bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/local.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>

<!-- calendar -->
<link rel="stylesheet" type="text/css" href="../css/datepicker.css" />
<script type="text/javascript" src="../js/bootstrap-datepicker.js"></script>


<!-- datatable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>

<style>
td.details-control {
     background: url('../images/arrow.png') no-repeat center center;
     cursor: pointer;
}
tr.shown td.details-control {
     background: url('../images/arrow.png') no-repeat center center; 
}


</style>

</head>


<body>
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="collapse navbar-collapse navbar-ex1-collapse">
         
                <ul class="nav navbar-nav  navbar-user">
                    
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> User<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
                   
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Dashboard <small>Statistics and more</small></h1>

                </div>
            </div>
            
           

			<div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Erros mais Recorentes</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="exceptionChart" class="chartjs" > </canvas>
                        </div>
                    </div>
                </div>
                
           
                <div class="col-md-4">
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Classes com mais Ocorrencias</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="classesChart" class="chartjs"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
               		<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Ocorrencias por Periodo</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="errosPeriodoChart" class="chartjs"></canvas>
                        </div>
                    </div>
               </div>
            </div>


			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-primary">
					
					<div class="panel-heading">
								<h3 class="panel-title">
									<i class="fa fa-bar-chart-o"></i> Excecoes Registradas no
									Periodo
								</h3>
					</div>
						
						<div class="panel-body">
						<form action="path/to/server/script" method="post" id="my_form" class="form-inline">
							<div class="form-group">
							<input type="text" class="form-control datepicker datepicker-inline"	name="datainicial" autocomplete="off" /> 
							<input type="text" class="form-control datepicker datepicker-inline"	name="datafinal" autocomplete="off" />
							<button id="botao" type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
						</div>

					</div>
				</div>
			
			
					<div class="col-md-12">
						<div class="panel panel-primary">
					
							<div class="panel-body table-responsive">

								<table id="tabela"
									class="display table table-hover table-bordered">
									<thead>
										<tr>
											<th></th>
											<th>Data</th>
											<th>Aplicacao</th>
											<th>serverAddress</th>
											<th>Pacote</th>
											<th>Classe</th>
											<th>Metodo</th>
											<th>Linha</th>
											<th>Tipo Excessao</th>
											<th>Mensagem Excessao</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

		</div>


</div>


<!-- datatable -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="../js/Chart.js"></script>
<script type="text/javascript" src="../js/graficos.js"></script>


</body>



</html>
