<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta charset="ISO-8859-1" /> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Index Monitora Web Log</title>

<link href="../css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/local.css" />

<!-- calendar -->
<link rel="stylesheet" type="text/css" href="../css/datepicker.css" />

<!-- datatable -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/r-2.2.1/datatables.min.css"/> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>

<style>
td.details-control {
     background: url('../images/arrow.png') no-repeat center center;
     cursor: pointer;
}
tr.shown td.details-control {
     background: url('../images/arrow.png') no-repeat center center; 
}

/* https://www.iconfinder.com/search/?q=arrow&maximum=64&price=free&category=arrow */

          <span class="glyphicon glyphicon-play"></span>
</style>

</head>


<body>
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="collapse navbar-collapse navbar-ex1-collapse">
         
                <ul class="nav navbar-nav  navbar-user">
                    
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> User<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>

                        </ul>
                    </li>
                   
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Dashboard <small>Statistics and more</small></h1>

                </div>
            </div>
            

<!-- 			<div class="row"> -->
<!-- 			<div class="col-lg-4"> -->
<!-- 				<div class="panel panel-primary"> -->
<!-- 					<div class="panel-body"> -->
<!-- 					<form action="/datapicker/datas"  method="post" > -->
    	
<!-- 					<div class="input-group input-daterange form-group"> -->
<!-- 						<input type="text" class="form-control datepicker"	name="datainicial" style="background-color: #eee3"/> -->
<!-- 						<div class="input-group-addon">ate</div> -->
<!-- 						<input type="text" class="form-control datepicker" name="datafinal"	style="background-color: #eee3"/> -->
<!-- 						<div class="input-group-addon"> -->
<!-- 							<div class="input-group-btn"> -->
<!-- 								<button type="submit" value="Submit" class="btn btn-primary">Submit</button> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
			
<!-- 					</form> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				</div> -->
<!-- 			</div> -->



            
            <div class="row">
               <div class="col-md-12">
               		<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Excecoes Registradas no Periodo</h3>
                        </div>
                        <div class="panel-body table-responsive">
                            <table id="tabela" class="display table table-hover table-bordered" >
                            	<thead>
									<tr>
										<th></th>
										<th >Data</th>
										<th >Aplicacao</th>
										<th >serverAddress</th>
										<th >Pacote</th>
										<th >Classe</th>
										<th >Metodo</th>
										<th >Linha</th>
										<th >Tipo Excessao</th>
										<th >Mensagem Excessao</th>
									</tr>
								</thead>
							</table>	
                        </div>
                    </div>
               </div>
            </div>
            
            

</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>

<!-- calendar -->
<script type="text/javascript" src="../js/bootstrap-datepicker.js"></script>

<!-- datatable -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="../js/dataTables.select.min.js"></script> -->

</body>


<script type="text/javascript">


	function format ( d ) {
	    // `d` is the original data object for the row
	    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
	        '<tr>'+
	            '<td>StackTrace:</td>'+
	            '<td>'+d.stackTrace+'</td>'+
	        '</tr>'+
	    '</table>';
	}

$(document).ready(function(){

	$(".datepicker").datepicker({
		locale : 'pt-BR',
	    autoclose: true,
	    format: 'dd/mm/yyyy',
	    todayHighlight: true,
	    constrainInput: false 
	});
	
	
	
	 $.getJSON("/chart/carregamentoInicialTabela", function(fromServer) {
		 var ttt = $('#tabela').DataTable({
			data : fromServer,
			columns : [ 
			{
			    className:      "details-control",
			    data:           null,
			    defaultContent: ""
			},        
			 {
				data : "date"
			}, {
				data : "applicationName"
			}, {
				data : "serverAddress"
			}, {
				data : "exceptionPackage"
			}, {
				data : "exceptionClass"
			}, {
				data : "exceptionMethod"
			}, {
				data : "exceptionLine"
			}, {
				data : "exceptionType"
			}, {
				data : "exceptionMessage"
// 			}, {
// 				data : "stackTrace"	
			} ]
	
      				
		});
		 
			// Add event listener for opening and closing details
			    $('#tabela tbody').on('click', 'td.details-control', function () {
			        var tr = $(this).closest('tr');
			        var row = ttt.row( tr );
			 
			        if ( row.child.isShown() ) {
			            // This row is already open - close it
			            row.child.hide();
			            tr.removeClass('shown');
			        }
			        else {
			            // Open this row
			            row.child( format(row.data()) ).show();
			            tr.addClass('shown');
			        }
			    } );
			
		 
		 
		 

	}).fail(function() {
		alert("Error occurred getting data from the server");
	});
	
	
	
});
</script>



</html>
