<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta charset="ISO-8859-1" /> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Index Monitora Web Log</title>

<link href="../css/bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../css/local.css" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.js"></script> -->
<script src="../js/Chart.js"></script>
<script type="text/javascript" src="../js/chartJava.js"></script>

</head>


<body>
<div id="wrapper">


		<div id="page-wrapper">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<canvas id="testeChart" class="chartjs"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div id="div1"><h2>Teste</h2></div>
	<button>Bottao teste</button>
            



</body>
</html>